@using ECOCSystem.Model
@using ECOCSystem.Tools
@model BranchModel



<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Branch Information</h4>
        <button type="button" class="close" onclick="closeModalBranch()" aria-label="Close">
            <span aria-hidden="true"><i class="fa" fa></i>×</span>
        </button>
    </div>
    <div class="modal-body @*overlay*@" style="padding:2rem;">
        @*<section class="row mt-4 pb-4">
            <div class="form-group col-lg-12">
                @Html.LabelFor(m => m.CompanyID)
                <div class="input-group">
                    @Html.DropDownListFor(m => m.CompanyID, new SelectList(Model.CompanyList, "ID", "Info"), " Select Company  ", new { @class = "form-control select2 select2Ajax", select2Ajax_url = Url.Action("GetCompanyList", "GetData") })
                </div>
                @Html.ValidationMessageFor(m => m.CompanyID, "", new { @class = "" })
            </div>

        </section>*@
        <section class="row pb-4">
            @*<i class="fas fa-2x fa-sync fa-spin"></i>*@
            <div class="form-group col-lg-12">
                @Html.LabelFor(o => o.Name)
                <div class="input-group">@Html.TextBoxFor(o => o.Name, new { @class = "form-control input-style", placeholder = "Branch Name" })</div>
                @Html.ValidationMessageFor(o => o.Name)
            </div>

        </section>
        <section class="row pb-4">
            @*<i class="fas fa-2x fa-sync fa-spin"></i>*@
            <div class="form-group col-lg-12">
                @Html.LabelFor(o => o.Address)
                <div class="input-group">@Html.TextBoxFor(o => o.Address, new { @class = "form-control input-style", placeholder = "Address" })</div>
                @Html.ValidationMessageFor(o => o.Address)
            </div>

        </section>
        <section class="row pb-4">
            @*<i class="fas fa-2x fa-sync fa-spin"></i>*@
            <div class="form-group col-lg-4">
                @Html.LabelFor(o => o.EmailAddress)
                <div class="input-group">@Html.TextBoxFor(o => o.EmailAddress, new { @class = "form-control input-style", placeholder = "Email Address" })</div>
                @Html.ValidationMessageFor(o => o.EmailAddress)
            </div>
            <div class="form-group col-lg-4">
                @Html.LabelFor(o => o.BusinessPhone)
                <div class="input-group">@Html.TextBoxFor(o => o.BusinessPhone, new { @class = "form-control input-style", placeholder = "Business Phone" })</div>
                @Html.ValidationMessageFor(o => o.BusinessPhone)
            </div>
            <div class="form-group col-lg-4">
                @Html.LabelFor(o => o.MobilePhone)
                <div class="input-group">@Html.TextBoxFor(o => o.MobilePhone, new { @class = "form-control input-style", placeholder = "Mobile Phone" })</div>
                @Html.ValidationMessageFor(o => o.MobilePhone)
            </div>

        </section>
        <section class="row pb-4">
            <div class="form-group col-lg-4">
                @Html.LabelFor(o => o.AccreditationNumber)
                <div class="input-group">@Html.TextBoxFor(o => o.AccreditationNumber, new { @class = "form-control input-style", placeholder = "Accreditation Number" })</div>
                @Html.ValidationMessageFor(o => o.AccreditationNumber)
            </div>
            <div class="form-group col-lg-4">
                @Html.LabelFor(o => o.FaxNumber)
                <div class="input-group">@Html.TextBoxFor(o => o.FaxNumber, new { @class = "form-control input-style", placeholder = "Fax Number" })</div>
                @Html.ValidationMessageFor(o => o.FaxNumber)
            </div>
            <div class="form-group col-lg-4">
                @Html.LabelFor(o => o.TIN)
                <div class="input-group">@Html.TextBoxFor(o => o.TIN, new { @class = "form-control input-style", placeholder = "TIN" })</div>
                @Html.ValidationMessageFor(o => o.TIN)
            </div>
        </section>
    </div>
    <div id="branchOption" class="modal-footer justify-content-between submit-btn">
    </div>
</div>
<script>


    $(document).ready(function () {

        $('#addBranch').on('click', function () {
            $('#branchOption').empty();
            $('#branchOption').append(`<button type="button" onclick="closeModalBranch()" class="btn btn-default">Cancel</button>
            <button type="button" id="submit_addBranch" class="btn btn-success">Save </button>  `)

            $("#modal-companyInfo .overlay").removeClass("d-none");

            $('#submit_addBranch').on('click', function () {
                submitForm("ADDBRANCH");
            });
        });


    });


</script>