@using ECOCSystem.Model
@model CPTLModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DataAnnotationsModelValidatorProvider.AddImplicitRequiredAttributeForValueTypes = false;
}
<style>
    .address-setting {
        font-size:15px;
    }

    .add-button {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 30px;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .addnew-button {
        display: flex;
        align-items: flex-end;
    }


    .cptl-title-header {
        display: flex;
        align-items: center;
    }

        .cptl-title-header label {
            margin: 0;
   
        }

        .cptl-title-header .tooltip {
            white-space: nowrap;
        }
    /*addnew button*/
    .uiverse {
        position: relative;
        background: #ffffff;
        color: #000;
        /* padding: 15px; */
        margin: 10px;
        /* border-radius: 10px; */
        width: 32px;
        height: 33px;
        font-size: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* flex-direction: column; */
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        border-radius: 50%;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        background-color: darkgreen;
        color: white;
        font-size: 17px;
        font-weight: lighter;
    }

    

.tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.uiverse:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

svg:hover span,
svg:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

    .uiverse:hover,
    .uiverse:hover .tooltip,
    .uiverse:hover .tooltip::before {
        /* background: linear-gradient(320deg, rgb(3, 77, 146), rgb(0, 60, 255));*/
        color: #ffffff;
        background-color: darkgreen;
    }
    /*addnew button*/



    .toggle-group {
        font-family: 'Source Sans Pro';
        color: #117a8b;
    }


    .btn-edit-1 {
        /*    margin-top: 25px;*/
        background-color: white;
        color: darkgreen;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 0px gray !important;
    }


    .btn-edit-1 span i {
        font-size:23px;
    }


    #select-client .form-group {
        margin:0;
    }
    .card {
        margin-bottom:0;
    }
   
</style>
<section class="content">
    <div class="card">


        <div class="card-header" style="display:flex;justify-content:flex-end;">
            <h3 class="card-title"><h4>CPTL Application</h4></h3>
        </div>
        <div class="card-body">
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        @using (Html.BeginForm("CPTL", "CPTL", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "CPTL_Form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(o => o.CPTLID, new { Value = "CPTLID" })
                            <section class="row pb-4 ">
                                <div class="col-12 col-sm-12 card">
                                    @*<h6 class="card-title card-header"><b>Client Address list</b></h6>*@
                                    <div class="cptl-title-header card-header">
                                        <label>Registration Type</label>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group col-sm-11">
                                            <div class="input-group">
                                                @Html.DropDownListFor(m => m.SelectedRegistrationTypeID, new SelectList(Model.RegistrationTypes, "ID", "RegistrationTypeInfo"), "Select Registration Type", new { @class = "form-control select2 select2Ajax", select2Ajax_url = Url.Action("GetRegistrationTypes", "GetData") })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.SelectedRegistrationTypeID, "", new { @class = "" })
                                        </div>
                                    </div>

                                </div>
                            </section>
                            <section class="row pb-4">
                                <div class="col-12 col-sm-12 card">
                                    @*<h6 class="card-title card-header"><b>Client Address list</b></h6>*@
                                    <div class="cptl-title-header card-header " style="display: flex; align-items: center;">
                                        <label>Select Client</label>
                                        <div class="uiverse ">
                                            <span class="tooltip">Add new client</span>
                                            <span type="button" id="addClient" class="newclient" data-toggle="modal" data-target="#modal-client">
                                                @*<i class="fa fa-plus btn-sm"></i>*@
                                                +
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="select-client" class="dataTables_wrapper dt-bootstrap4">
                                            <div class="row">
                                                <div class="col-sm-12" style="display:flex;align-items:center;">
                                                    <div class="form-group col-sm-11">
                                                        <div class="input-group">
                                                            @Html.DropDownListFor(m => m.ClientID, new SelectList(Model.Clients, "ClientID", "ClientInfo"), "Select Client", new { @class = "form-control select2 select2Ajax", select2Ajax_url = Url.Action("GetClients", "GetData") })
                                                        </div>
                                                        @Html.ValidationMessageFor(m => m.ClientID, "", new { @class = "" })
                                                    </div>
                                                    <div class="col-sm-1  uiverse btn-edit-1 add-button">
                                                        <span class="tooltip" style="white-space:nowrap;">Edit client</span>
                                                        <span type="button" id="editClient" data-toggle="modal" data-target="#modal-client">
                                                            <i class="fa fa-user-edit btn-sm"></i>

                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </section>
                            <section class="row pb-4">
                                <div class="col-12 col-sm-12 card">
                                    <div class="cptl-title-header card-header " style="display: flex; align-items: center;">
                                        <label>Address List</label>
                                        <div class="uiverse ">
                                            <span class="tooltip">Add new address</span>
                                            <span type="button" id="addAddress" class="newaddress" data-toggle="modal" data-target="#modal-client-address">
                                                +
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="example2" class="table table-head-fixed table-hover dataTable dtr-inline " style="cursor:pointer" aria-describedby="example2_info" t>
                                                        <thead>
                                                            <tr>
                                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Select</th>
                                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Street Name</th>
                                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Barangay</th>
                                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">City</th>
                                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Address Type</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="row pb-4">
                                <div class="col-12 col-sm-12 card">
                                    <div class="cptl-title-header card-header " style="display: flex; align-items: center;">
                                        <label>Vehicle List</label>
                                        <div class="uiverse ">
                                            <span class="tooltip">Add new vehicle</span>
                                            <span>
                                                +
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="example2" class="table table-head-fixed table-hover dataTable dtr-inline " style="cursor:pointer" aria-describedby="example2_info" t>
                                                        <thead>
                                                            <tr>
                                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Engine</th>
                                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Chassis</th>
                                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Make</th>
                                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Body</th>
                                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Vehicle Type</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="row mt-4 pb-4 submit-btn">
                                <button class="btn btn-success" style="height: 45px; ">Submit Application</button>
                            </section>

                            <div class="modal fade" id="modal-client" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-xl">

                                    @{
                                        Html.RenderPartial("_Client", Model.Client, new ViewDataDictionary() { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "Client" } });
                                    }
                                </div>

                            </div>

                            <div class="modal fade" id="modal-client-address" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    @{
                                        Html.RenderPartial("_Address", Model.ClientAddress, new ViewDataDictionary() { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "ClientAddress" } });
                                    }
                                </div>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
  
   
</section>

<script>

    var addAntiForgeryToken = function (data) {
        data.__RequestVerificationToken = $("[name='__RequestVerificationToken']").val();
        return data;
    };

    function submitForm(submitType) {
        var form = jQuery("#CPTL_Form");
        if (form.valid()) {
            var formData = new FormData(form[0]);
            formData.append("submitType", submitType);
            $.ajax({
                url: '@Url.Action("CPTL", "CPTL")',
                type: "POST",
                dataType: "JSON",
                contentType: false,
                processData: false,
                async: true,
                data: addAntiForgeryToken(formData),
                beforeSend: function () {
                    toastr.clear();
                    $('#loadingScreen').show();
                },
                success: function (response) {
                    switch (response.Status) {
                        case "Success":
                            //$("#" + submitType).html(response.Data);
                            //$("#" + submitType + "_nav").removeClass("error warning").addClass("done");

                            //if (response.MVID > 0) {
                            //    history.pushState("", "MV Information", "?id=" + response.MVID);
                            //    $("#MVID").val(response.MVID);
                            //}

               /*             changeStatus();*/
            /*                LoadImage(response.MVID);*/
                            toastr.success(response.Message);
                            break;
                        case "Warning":
                            toastr.warning(response.Message);
                            break;
                        case "Info":
                            toastr.info(response.Message);
                            break;
                        default:
                            toastr.error(response.Message);
                            break;
                    }
                },
                error: function (xhr, status, error) {
                    toastr.error('An error has occured while processing, Please contact Databridge Support.');
                },
                complete: function () {
                    $(".modal").modal('hide');
                    $('.modal-backdrop').remove();
                    $('#loadingScreen').hide();
                },
            });
        }
/*        $(".tab-content").height("auto");*/
    }
    $(document).ready(function () {
        $("#btm_csr_btn_container").html('' +
            '<button type="button" id="verify_csr" class="btn btn-block btn-success" style="width: 250px;"> Submit </button>');

        $('#isRenewal').bootstrapToggle({
            toggle: "toggle",
            on: "Renewal",
            off: "New Registration",
            onstyle: "outline-success",
            offstyle: "outline-success  ",
            width: "100%",
            height: "100%",
        });

        
    /*    toastr.success("Submitted Success   ");*/

    

        $("#isRenewal").on("change", function () {
           /* HPGType($(this).is(":checked"));*/
        });
    });


</script>
