@using ECOCSystem.Model
@model CPTLModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DataAnnotationsModelValidatorProvider.AddImplicitRequiredAttributeForValueTypes = false;
}
<style>
    .address-setting {
        font-size:15px;
    }

    .add-button {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 30px;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .addnew-button {
        display: flex;
        align-items: flex-end;
    }


    .cptl-title-header {
        display: flex;
        align-items: center;
    }

        .cptl-title-header label {
            margin: 0;
   
        }

        .cptl-title-header .tooltip {
            white-space: nowrap;
        }
    /*addnew button*/
    .uiverse {
        position: relative;
        background: #ffffff;
        color: #000;
        /* padding: 15px; */
        margin: 10px;
        /* border-radius: 10px; */
        width: 32px;
        height: 33px;
        font-size: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* flex-direction: column; */
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        border-radius: 50%;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        background-color: darkgreen;
        color: white;
        font-size: 17px;
        font-weight: lighter;
    }

    

.tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.uiverse:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

svg:hover span,
svg:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

    .uiverse:hover,
    .uiverse:hover .tooltip,
    .uiverse:hover .tooltip::before {
        /* background: linear-gradient(320deg, rgb(3, 77, 146), rgb(0, 60, 255));*/
        color: #ffffff;
        background-color: darkgreen;
    }
    /*addnew button*/



    .toggle-group {
        font-family: 'Source Sans Pro';
        color: #117a8b;
    }


    .btn-edit-1 {
        /*    margin-top: 25px;*/
        background-color: white;
        color: darkgreen;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 0px gray !important;
    }


    .btn-edit-1 span i {
        font-size:23px;
    }


    #select-client .form-group {
        margin:0;
    }
    .card {
        margin-bottom: 0;
        box-shadow: 0 0 3px rgba(0,0,0,.125), 0 1px 5px rgba(0,0,0,.2);
    }

    .icheck-success > input:first-child:checked + input[type=hidden] + label::before, .icheck-success > input:first-child:checked + label::before {
        background-color: darkgreen;
        border-color: darkgreen;
    }

    .row {

        margin: 0;
    }
    .info-display {
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid #ddd;
        width: 100%;
        box-shadow: none;
        padding: 5px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 30px;
        /* font-weight: bold; */
/*        justify-content: center;*/
        font-weight: 500;
        margin-bottom: 20px;
    }

    .info-label {
        font-size: smaller;
        letter-spacing: .5px;
        text-transform: uppercase;
    /*    display: flex;
        justify-content: center;*/
    }

    blockquote h1, blockquote h2, blockquote h3, blockquote h4, blockquote h5, blockquote h6 {
        font-weight: 100;

    }
</style>
<section class="content">
    <div class="card card-success card-outline">


        <div class="card-header" >
            <h3 class="card-title">CPTL Application</h3>
        </div>
        <div class="card-body">
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        @using (Html.BeginForm("CPTL", "CPTL", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "CPTL_Form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(o => o.CPTLID, new { Value = "CPTLID" })
                            @Html.HiddenFor(m => m.AddressID)
                            @Html.HiddenFor(m => m.VehicleID)
                            <section class="row pb-4 ">
                                <div class="col-12 col-sm-12 card">
                                    @*<h6 class="card-title card-header"><b>Client Address list</b></h6>*@
                                    <div class="cptl-title-header card-header">
                                        <label>Registration Type</label>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group col-sm-11">
                                            <div class="input-group">
                                                @Html.DropDownListFor(m => m.SelectedRegistrationTypeID, new SelectList(Model.RegistrationTypes, "ID", "RegistrationTypeInfo"), "Select Registration Type", new { @class = "form-control select2 select2Ajax", select2Ajax_url = Url.Action("GetRegistrationTypes", "GetData") })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.SelectedRegistrationTypeID, "", new { @class = "" })
                                        </div>
                                    </div>

                                </div>
                            </section>
                            <section class="row pb-4">
                                <div class="col-12 col-sm-12 card">
                                    @*<h6 class="card-title card-header"><b>Client Address list</b></h6>*@
                                    <div class="cptl-title-header card-header " style="display: flex; align-items: center;">
                                        <label>Select Client</label>
                                        <div class="uiverse ">
                                            <span class="tooltip">Add new client</span>
                                            <span type="button" id="addClient" class="newclient" data-toggle="modal" data-target="#modal-client">
                                                @*<i class="fa fa-plus btn-sm"></i>*@
                                                +
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="select-client" class="dataTables_wrapper dt-bootstrap4">
                                            <div class="row">
                                                <div class="col-sm-12" style="display:flex;align-items:center;">
                                                    <div class="form-group col-sm-11">
                                                        <div class="input-group">
                                                            @Html.DropDownListFor(m => m.ClientID, new SelectList(Model.Clients, "ClientID", "ClientInfo"), "Select Client", new { @class = "form-control select2 select2Ajax", select2Ajax_url = Url.Action("GetClients", "GetData") })
                                                        </div>
                                                        @Html.ValidationMessageFor(m => m.ClientID, "", new { @class = "" })
                                                    </div>
                                                    <div class="col-sm-1  uiverse btn-edit-1 add-button">
                                                        <span class="tooltip" style="white-space:nowrap;">Edit client</span>
                                                        <span type="button" id="editClient" data-toggle="modal" data-target="#modal-client">
                                                            <i class="fa fa-user-edit btn-sm"></i>

                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </section>
                            <section class="row pb-4">
                                <div class="col-12 col-sm-12 card">
                                    <div class="cptl-title-header card-header " style="display: flex; align-items: center;">
                                        <label>Address List</label>
                                        <div class="uiverse ">
                                            <span class="tooltip">Add new address</span>
                                            <span type="button" id="addAddress" class="newaddress" data-toggle="modal" data-target="#modal-client-address">
                                                +
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="tbl_Address" class="table table-head-fixed table-hover dataTable dtr-inline table-hover dt-responsive nowrap" style="width:100%; min-width: 90em">
                                                        <thead>
                                                            <tr>
                                                                <th><center>Select</center></th>
                                                                <th>Address Type</th>
                                                                <th>House Bldg No</th>
                                                                <th>Street Subdivision</th>
                                                                <th>Barangay</th>
                                                                <th>Zip Code</th>
                                                                <th>City</th>
                                                                <th>Province</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                    @*<table id="example2" class="table table-head-fixed table-hover dataTable dtr-inline " style="cursor:pointer" aria-describedby="example2_info" t>
                                        <thead>
                                            <tr>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Select</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Street Name</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Barangay</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">City</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Address Type</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                    </table>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="row pb-4">
                                <div class="col-12 col-sm-12 card">
                                    <div class="cptl-title-header card-header " style="display: flex; align-items: center;">
                                        <label>Vehicle List</label>
                                        <div class="uiverse ">
                                            <span class="tooltip">Add new vehicle</span>
                                            <span type="button" id="addVehicle" class="newvehicle" data-toggle="modal" data-target="#modal-client-vehicle">
                                                +
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="tbl_Vehicle" class="table table-head-fixed table-hover dataTable dtr-inline table-hover dt-responsive nowrap" style="width:100%; min-width: 90em">
                                                        <thead>
                                                            <tr>
                                                                <th><center>Select</center></th>
                                                                <th>Vehicle Type</th>
                                                                <th>Serial / Chassis</th>
                                                                <th>Plate No.</th>
                                                                <th>Year</th>
                                                                <th>Make</th>
                                                                <th>Body</th>
                                                                <th>Series</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="row mt-4 pb-4 submit-btn">
                                <button data-toggle="modal" data-target="#modal-ApplicationSummary" class="btn btn-success" type="button" style="height: 45px; ">Submit Application</button>
                            </section>


                            <div class="modal fade" id="modal-client" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-xl">

                                    @{
                                        Html.RenderPartial("_Client", Model.Client, new ViewDataDictionary() { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "Client" } });
                                    }
                                </div>

                            </div>



                            <div class="modal fade" id="modal-client-address" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    @{
                                        Html.RenderPartial("_Address", Model.ClientAddress, new ViewDataDictionary() { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "ClientAddress" } });
                                    }
                                </div>

                            </div>

                            <div class="modal fade" id="modal-client-vehicle" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    @{
                                        Html.RenderPartial("_Vehicle", Model.ClientVehicle, new ViewDataDictionary() { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "ClientVehicle" } });
                                    }
                                </div>

                            </div>

                            <div class="modal fade" id="modal-ApplicationSummary" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Application Summary</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"><i class="fa" fa></i>×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body @*overlay*@" style="padding:2rem;">                                   
                                            <div id="client" class="dataTables_wrapper dt-bootstrap4">
                                                <div class="row">
                                                    <div class="col-sm-12">




                                                        <blockquote>
                                                            <div class="row">
                                                                <div class="form-group col-lg-12 info-container">
                                                                    <h6 class="">Client</h6>
                                                                </div>

                                                            </div>
                                                            <div class="row">
                                                                <div class="form-group col-lg-12 info-container">
                                                                    @*@Html.LabelFor(o => o.FirstName, new { @class = "info-label" })*@
                                                                    <label class="info-label">Corporate Name</label>
                                                                    <span class="input-group info-display" data-toggle="tooltip" id="Application_ClientName">Databridge Asia Inc</span>
                                                                </div>
                                                                <div class="form-group col-lg-4 info-container">
                                                                    @*@Html.LabelFor(o => o.FirstName, new { @class = "info-label" })*@
                                                                    <label class="info-label">First Name</label>
                                                                    <span class="input-group info-display" data-toggle="tooltip" id="Application_FirstName"></span>
                                                                </div>
                                                                <div class="form-group col-lg-4 info-container">
                                                                    <label class="info-label">Last Name</label>
                                                                    <span class="input-group info-display" data-toggle="tooltip" id="Application_LastName"></span>
                                                                </div>
                                                                <div class="form-group col-lg-4 info-container">
                                                                    <label class="info-label">Middle Name</label>
                                                                    <span class="input-group info-display" data-toggle="tooltip" id="Application_MiddleName"></span>
                                                                </div>
                                                            </div>
                                                        </blockquote>

                                                        <blockquote>
                                                            <div class="row">
                                                                <div class="form-group col-lg-12 info-container">
                                                                    <h6 class="">Address</h6>
                                                                </div>

                                                            </div>

                                                            <div class="row">
                                                                <div class="form-group col-lg-4 info-container">
                                                                    <label class="info-label">House Blg No.</label>
                                                                    <span class="input-group info-display" data-toggle="tooltip" id="Application_HouseBldg">Cor. Panal & Kangleon Street</span>
                                                                </div>
                                                                <div class="form-group col-lg-4 info-container">
                                                                    <label class="info-label">Street Name</label>
                                                                    <span class="input-group info-display" data-toggle="tooltip" id="Application_Street">Abgao, Maasin City</span>
                                                                </div>
                                                                <div class="form-group col-lg-4 info-container">
                                                                    <label class="info-label">Barangay</label>
                                                                    <span class="input-group info-display" data-toggle="tooltip" id="Application_Barangay">Southern Leyte</span>
                                                                </div>
                                                                <div class="form-group col-lg-4 info-container">
                                                                    <label class="info-label">City</label>
                                                                    <span class="input-group info-display" data-toggle="tooltip" id="Application_City">Abgao, Maasin City</span>
                                                                </div>
                                                                <div class="form-group col-lg-4 info-container">
                                                                    <label class="info-label">Province</label>
                                                                    <span class="input-group info-display" data-toggle="tooltip" id="Application_Province">Abgao, Maasin City</span>
                                                                </div>
                                                            </div>
                                                        </blockquote>

                                                        <blockquote>
                                                            <div class="row">
                                                                <div class="form-group col-lg-12 info-container">
                                                                    <h6 class="">Vehicle</h6>
                                                                </div>

                                                            </div>

                                                            <div class="row">
                                                                <div class="form-group col-lg-4 info-container">
                                                                    <label class="info-label">Engine Number</label>
                                                                    <span class="input-group info-display" data-toggle="tooltip" id="Application_Engine">Cor. Panal & Kangleon Street</span>
                                                                </div>
                                                                <div class="form-group col-lg-4 info-container">
                                                                    <label class="info-label">Chassis Number</label>
                                                                    <span class="input-group info-display" data-toggle="tooltip" id="Application_Chassis">Abgao, Maasin City</span>
                                                                </div>
                                                                <div class="form-group col-lg-4 info-container">
                                                                    <label class="info-label">MV FileNumber</label>
                                                                    <span class="input-group info-display" data-toggle="tooltip" id="Application_MVFile">Southern Leyte</span>
                                                                </div>
                                                                <div class="form-group col-lg-4 info-container">
                                                                    <label class="info-label">Plate Number</label>
                                                                    <span class="input-group info-display" data-toggle="tooltip" id="Application_Plate">Abgao, Maasin City</span>
                                                                </div>
                                                                <div class="form-group col-lg-4 info-container">
                                                                    <label class="info-label">Year</label>
                                                                    <span class="input-group info-display" data-toggle="tooltip" id="Application_Year">Abgao, Maasin City</span>
                                                                </div>
                                                                <div class="form-group col-lg-4 info-container">
                                                                    <label class="info-label">Make</label>
                                                                    <span class="input-group info-display" data-toggle="tooltip" id="Application_Make">Abgao, Maasin City</span>
                                                                </div>
                                                                <div class="form-group col-lg-4 info-container">
                                                                    <label class="info-label">Body Type</label>
                                                                    <span class="input-group info-display" data-toggle="tooltip" id="Application_Body">Abgao, Maasin City</span>
                                                                </div>
                                                                <div class="form-group col-lg-4 info-container">
                                                                    <label class="info-label">Color</label>
                                                                    <span class="input-group info-display" data-toggle="tooltip" id="Application_Color">Abgao, Maasin City</span>
                                                                </div>
                                                                <div class="form-group col-lg-4 info-container">
                                                                    <label class="info-label">Series</label>
                                                                    <span class="input-group info-display" data-toggle="tooltip" id="Application_Series">Abgao, Maasin City</span>
                                                                </div>
                                                            </div>
                                                        </blockquote>

                                                        <blockquote>

                                                            <div class="row">
                                                                <div class="form-group col-lg-4 info-container">
                                                                    <label class="info-label">Registration Type</label>
                                                                    <span class="input-group info-display" data-toggle="tooltip" id="Application_RegistrationType">Renewal</span>
                                                                </div>

                                                            </div>
                                                        </blockquote>




                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div id="" class="modal-footer justify-content-between submit-btn">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <button type="button" id="submit_Address" class="btn btn-success">Apply</button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
  
   
</section>

<script>

    var addAntiForgeryToken = function (data) {
        data.__RequestVerificationToken = $("[name='__RequestVerificationToken']").val();
        return data;
    };

    function submitForm(submitType) {
        var form = jQuery("#CPTL_Form");
        if (form.valid()) {
            var formData = new FormData(form[0]);
            formData.append("submitType", submitType);
            $.ajax({
                url: '@Url.Action("CPTL", "CPTL")',
                type: "POST",
                dataType: "JSON",
                contentType: false,
                processData: false,
                async: true,
                data: addAntiForgeryToken(formData),
                beforeSend: function () {
                    toastr.clear();
                
                },
                success: function (response) {
                    switch (response.Status) {
                        case "Success":
                            //$("#" + submitType).html(response.Data);
                            //$("#" + submitType + "_nav").removeClass("error warning").addClass("done");

                            if (response.ClientID > 0) {
                                getAddressList(response.ClientID)
                                getVehicleList(response.ClientID)
                            }

               /*             changeStatus();*/
            /*                LoadImage(response.MVID);*/
                            toastr.success(response.Message);
                            break;
                        case "Warning":
                            toastr.warning(response.Message);
                            break;
                        case "Error":
                            toastr.error(response.Message);
                            break;
                        case "Info":
                            toastr.info(response.Message);
                            break;
                        default:
                            toastr.error(response.Message);
                            break;
                    }
                },
                error: function (xhr, status, error) {
                    toastr.error('An error has occured while processing, Please contact Databridge Support.');
                },
                complete: function () {
                    $(".modal").modal('hide');
                    $('.modal-backdrop').remove();
                    $('#loadingScreen').hide();
                },
            });
        }
/*        $(".tab-content").height("auto");*/
    }
    $(document).ready(function () {

        vehicle_table = $("#tbl_Vehicle").DataTable({
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "scrollX": true,
            "scrollY": true,
            "destroy": true,
        });
        $("#btm_csr_btn_container").html('' +
            '<button type="button" id="verify_csr" class="btn btn-block btn-success" style="width: 250px;"> Submit </button>');

        $('#isRenewal').bootstrapToggle({
            toggle: "toggle",
            on: "Renewal",
            off: "New Registration",
            onstyle: "outline-success",
            offstyle: "outline-success  ",
            width: "100%",
            height: "100%",
        });


        getAddressList(0)
        getVehicleList(0)



        $('#ClientID').on('change', function () {
            let ID = $(this).val();
            getAddressList(ID)
            getVehicleList(ID)
            console.log()
        });


    });


    function getAddressList(ClientID) {
        let cntRow = 0;
        vehicle_table = $("#tbl_Address").DataTable({
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "scrollX": true,
            "scrollY": true,
            "destroy": true,

            "order": [],
            "dom":
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'p><'col-sm-12 col-md-7'i>>",
            "ajax": {
                "url": '@Url.Action("GetClientAddressList", "CPTL")',
                "type": "POST",
                "datatype": "json",
                "data": function (o) {
                    o.ClientID = ClientID;
                },
                "beforeSend": function () {

                    cntRow = 0;
                },
                "complete": function (row, data, dataIndex) {

                }
            },
            "createdRow": function (row, data, dataIndex) {

            },
            "columns": [
                {
                    "className": "AddressID", "data": null, "name": "AddressID",
                    render: function (data, type, row) {
                        return `<center>
                                  <div class="icheck-primary d-inline">
                                    <input class="chk" name="checkAddress" type="checkbox" AddressID="`+ data.AddressID +`" id="address`+ data.AddressID +`">
                                        <label for="address`+ data.AddressID+`">
                                    </label>
                                 </div>
                              </center>`
                    }, "autoWidth": true
                },
                { "className": "AddressType", "data": "AddressType", "name": "AddressType", "autoWidth": true },
                { "className": "HouseBldgNo", "data": "HouseBldgNo", "name": "HouseBldgNo", "autoWidth": true },
                { "className": "StreetName", "data": "StreetName", "name": "StreetName", "autoWidth": true },
                { "className": "Barangay", "data": "Barangay", "name": "Barangay", "autoWidth": true },
                { "className": "ZipCode", "data": "ZipCode", "name": "ZipCode", "autoWidth": true },
                { "className": "City", "data": "City", "name": "City", "autoWidth": true },
                { "className": "Province", "data": "Province", "name": "Province", "autoWidth": true },

            ]
        });
        $('#tbl_Address_paginate').parent('div').parent('div').css('flex-direction', 'row-reverse').css('margin', '12px');

        $(document).on("change", "input[name='checkAddress']", function () {
            $('input.chk').not(this).prop('checked', false);

            let AddressID = $(this).attr('AddressID');
            $('#AddressID').val(AddressID);

        });
    };


    function getVehicleList(ClientID) {
        let cntRow = 0;
        vehicle_table = $("#tbl_Vehicle").DataTable({
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "scrollX": true,
            "scrollY": true,
            "destroy": true,

            "order": [],
            "dom":
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'p><'col-sm-12 col-md-7'i>>",
            "ajax": {   
                "url": '@Url.Action("GetClientVehicleList", "CPTL")',
                "type": "POST",
                "datatype": "json",
                "data": function (o) {
                    o.ClientID = ClientID;
                },
                "beforeSend": function () {

                    cntRow = 0;
                },
                "complete": function (row, data, dataIndex) {

                }
            },
            "createdRow": function (row, data, dataIndex) {

            },
            "columns": [
                {
                    "className": "VehicleID", "data": null, "name": "VehicleID",
                    render: function (data, type, row) {
                        return `<center>
                                  <div class="icheck-primary d-inline">
                                    <input class="chk2" name="checkVehicle" type="checkbox" VehicleID="`+ data.VehicleID+`" id="vehicle`+ data.VehicleID +`">
                                        <label for="vehicle`+ data.VehicleID+`">
                                    </label>
                                 </div>
                              </center>`
                    }, "autoWidth": true
                },
                { "className": "VehicleType", "data": "VehicleType", "name": "VehicleType", "autoWidth": true },
                { "className": "Chassis", "data": "Chassis", "name": "Chassis", "autoWidth": true },
                { "className": "PlateNo", "data": "PlateNo", "name": "PlateNo", "autoWidth": true },
                { "className": "Year", "data": "Year", "name": "Year", "autoWidth": true },
                { "className": "VehicleMake", "data": "VehicleMake", "name": "VehicleMake", "autoWidth": true },
                { "className": "VehicleBody", "data": "VehicleBody", "name": "VehicleBody", "autoWidth": true },
                { "className": "VehicleSeries", "data": "VehicleSeries", "name": "VehicleSeries", "autoWidth": true },

            ]
        });
        $('#tbl_Vehicle_paginate').parent('div').parent('div').css('flex-direction', 'row-reverse').css('margin', '12px');

        $(document).on("change", "input[name='checkVehicle']", function () {
            $('input.chk2').not(this).prop('checked', false);

            let VehicleID = $(this).attr('VehicleID');
            $('#VehicleID').val(VehicleID);
        });
    };
</script>
