@using ECOCSystem.Model
@model MVModel


<div class="modal-content ">
    <div id="" class="overlay d-none">
        @*<i class="fas fa-2x fa-sync fa-spin"></i>*@
    </div>
    <div class="modal-header">
        <h4 class="modal-title">Vehicle Model Information</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fa" fa></i>×</span>
        </button>
    </div>
    <div class="modal-body " style="padding:2rem;">

        <section class="content ">

            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        @Html.HiddenFor(m => m.SeriesID)
                        @Html.AntiForgeryToken()
                        <section class="row mt-4 pb-4 ">
                            @*<i class="fas fa-2x fa-sync fa-spin"></i>*@
                            <div class="form-group col-lg-6">
                                @Html.LabelFor(o => o.Model)
                                <div class="input-group">@Html.TextBoxFor(o => o.Model, new { @class = "form-control input-style", placeholder = "Vehicle Model" })</div>
                                @Html.ValidationMessageFor(o => o.Model)
                            </div>
                            <div class="form-group col-lg-6">
                                @Html.LabelFor(m => m.SelectedBodyTypeID)
                                <div class="input-group">
                                    @Html.DropDownListFor(m => m.SelectedBodyTypeID, new SelectList(Model.VehicleBodyList, "ID", "Info"), "Select Body Type", new { @class = "form-control select2 select2Ajax", select2Ajax_url = Url.Action("GetVehicleBodyList2", "GetData") })
                                </div>
                                @Html.ValidationMessageFor(m => m.SelectedBodyTypeID, "", new { @class = "" })
                            </div>
                        </section>

                        <section class="infoButtons row mt-4 pb-4 submit-btn">
                        </section>

                        <section class="row pb-4">
                            <div class="col-12 col-sm-12 card">
                                <div class="cptl-title-header card-header " style="display: flex; align-items: center;">
                                    <label>Model Variant List</label>
                                    <div class="uiverse ">
                                        <span class="tooltip">Add new Variant</span>
                                        <span type="button" id="addVariant" class="" data-toggle="modal" data-target="#modal-model-variant">
                                            +
                                        </span>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table id="tbl_Series" class="table table-head-fixed table-hover dataTable dtr-inline table-hover dt-responsive" style=" min-width: 61em">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:150px"><center>Action Remove</center></th>
                                                            <th>Variant</th>
                                                        </tr>
                                                    </thead>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="modal-model-variant" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Variant Information</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fa" fa></i>×</span>
                            </button>
                        </div>
                        <div class="modal-body @*overlay*@" style="padding:2rem;">
                            <section class="row pb-4">
                                @*<i class="fas fa-2x fa-sync fa-spin"></i>*@
                                <div class="form-group col-lg-12">
                                    @Html.LabelFor(o => o.VehicleVariant)
                                    <div class="input-group">@Html.TextBoxFor(o => o.VehicleVariant, new { @class = "form-control input-style", placeholder = "Engine Number" })</div>
                                    @Html.ValidationMessageFor(o => o.VehicleVariant)
                                </div>
                            </section>              
                        </div>
                        <div id="vehicleOptions" class="modal-footer justify-content-between submit-btn">

                        </div>
                    </div>
                </div>

            </div>

        </section>
    </div>
    @*<div id="addressOption" class="modal-footer justify-content-between submit-btn">
        </div>*@
</div>
<script>

    $(document).ready(function () {


        $('#modal-model-info').on('hide.bs.modal', function (e) {
            // do something…
            $("#modal-make-info .overlay").addClass("d-none");

        });

        //$('#addVariant').on('click', function () {
        //    $("#modal-model-info .overlay").removeClass("d-none");
        //});


    });


</script>