@using ECOCSystem.Model
@model MakeModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DataAnnotationsModelValidatorProvider.AddImplicitRequiredAttributeForValueTypes = false;
}

<section class="content">
    <div class="card card-success card-outline">
        <div class="card-header">
            <h3 class="card-title">Vehicle Make List</h3>
        </div>
        <div class="fab" id="addMake" type="button" data-toggle="modal" data-target="#modal-make-info" name="btnSubmit" title="" @*onclick="location.href='/Customer/Customer'"*@ data-original-title="Create New"> + </div>
        <div class="card-body">
            @using (Html.BeginForm("Vehicle", "Vehicle", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "CompanyInfo_Form" }))
            {

                @Html.HiddenFor(m => m.MakeID)
                <div id="" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="table-makeList" class="table table-head-fixed table-hover dataTable dtr-inline table-hover dt-responsive nowrap " style="min-width: 80em;cursor:pointer">
                                <thead>
                                    <tr>
                                        <th><center>Action Edit</center></th>
                                        <th>Vehicle Make</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modal-make-info" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        @{
                            Html.RenderPartial("_MakeInfo", Model.MakeInfo, new ViewDataDictionary() { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "MakeInfo" } });
                        }
                    </div>

                </div>

                <div class="modal fade" id="modal-make-series" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-lg">

                    </div>

                </div>

                <div class="modal fade" id="modal-make-body" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-lg">

                    </div>

                </div>
                <div class="modal fade" id="modal-make-color" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-lg">

                    </div>

                </div>
            }

        </div>
    </div>





</section>
<script>
    $(document).ready(function () {

        getMakeList();
        getSeriesList(0);

        $('#addMake').on('click', function () {
            $('.infoButtons').empty();
            $('.infoButtons').append(`<button type="button" id="submit_addMake" value="ADDMAKE" class="btn btn-success">Save</button> `)

            $('#submit_addMake').on('click', function () {
                submitForm("ADDMAKE");
            });



        });

    });



    function EditMake(MakeID, MakeName) {

        $('.infoButtons').empty();
        $('.infoButtons').append(`<button type="button" id="submit_updateMake" value="UPDATEMAKE" class="btn btn-success">Update</button>
                                 <button type="button" id="submit_deleteMake" value="DELETEMAKE" class="btn btn-danger">Delete</button>`)


        $("#MakeInfo_VehicleMake").val(MakeName)

        jQuery('.select2Ajax').on('select2:opening', function () {
            var objParams = {
                MakeID: MakeID,
            };
            $(this).attr("select2Ajax-parameter", JSON.stringify(objParams));
        });


        getSeriesList(MakeID);
        getColorList(MakeID);
        getBodyList(MakeID);
        //////getBatchList(CompanyID)
        //////getCompanyInfo(CompanyID)
        //////$('#companyOption').empty();
        //////$('#companyOption').append(`<button type="button"  id = "submit_editCompany" value="EDITCOMPANY" class="btn btn-success">Update</button> `)



        ////$('#submit_editCompany').on('click', function () {
        ////    submitForm("EDITCOMPANY");
        ////});


    };

    function getMakeList() {

        let cntRow = 0;
        Make_table = $("#table-makeList").DataTable({
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "scrollX": true,
            "scrollY": true,
            "destroy": true,


            "order": [],
            "dom":
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'p><'col-sm-12 col-md-7'i>>",
            "ajax": {
                "url": '@Url.Action("GetMakeList", "Vehicle")',
                "type": "POST",
                "datatype": "json",
/*                "data": { "CompanyID": CompanyID, "BranchID": BranchID },*/
                "beforeSend": function () {
                    $('#loadingScreen').show();
                    cntRow = 0;
                },
                "complete": function (row, data, dataIndex) {


                    $('#loadingScreen').hide();
                }
            },
            "createdRow": function (row, data, dataIndex) {

            },
            "columns": [
                {
                    "className": "VehicleMakeID", "data": null, "name": "VehicleMakeID",
                    render: function (data, type, row) {
                        return `<center>
                                  <div class="">
                                         <span type="button" data-toggle="modal" data-target="#modal-make-info"" onclick="EditMake(`+ data.VehicleMakeID + `,'` + data.VehicleMakeName+`')">
                                            <i class="fa fa-pencil-alt fa-lg text-primary" style="padding: 0px"></i>
                                        </span>
                                    </div>
                                 </div>
                              </center>`
                    }, "autoWidth": true
                },
                { "className": "VehicleMakeName", "data": "VehicleMakeName", "name": "VehicleMakeName", "autoWidth": true },



            ]
        });
        $('#table-makeList_paginate').parent('div').parent('div').css('flex-direction', 'row-reverse').css('margin', '12px');



    };

     function getSeriesList(MakeID) {

        let cntRow = 0;
         Series_table = $("#tbl_Series").DataTable({
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "scrollX": true,
            "scrollY": true,
             "destroy": true,
             "pageLength": 5,

            "order": [],
            "dom":
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'p><'col-sm-12 col-md-7'i>>",
            "ajax": {
                "url": '@Url.Action("GetSeriesList", "Vehicle")',
                "type": "POST",
                "datatype": "json",
                "data": { "MakeID": MakeID },
                "beforeSend": function () {
                    $('#loadingScreen').show();
                    cntRow = 0;
                },
                "complete": function (row, data, dataIndex) {

                    $('#loadingScreen').hide();
                }
            },
            "createdRow": function (row, data, dataIndex) {

            },
            "columns": [
                {
                    "className": "VehicleSeriesID", "data": null, "name": "VehicleSeriesID",
                    render: function (data, type, row) {
                        return `<center>
                                  <div class="">
                                         <span type="button" data-toggle="modal" data-target="#modal-companyInfo" class="editSeries" onclick="EditSeries(`+ data.VehicleSeriesID + `)" MakesID="` + data.VehicleSeriesID +`">
                                            <i class="fa fa-pencil-alt fa-lg text-primary" style="padding: 0px"></i>
                                        </span>
                                    </div>
                                 </div>
                              </center>`
                    }, "autoWidth": true
                },
                { "className": "VehicleModelName", "data": "VehicleModelName", "name": "VehicleModelName", "autoWidth": true },
                { "className": "Variant", "data": "Variant", "name": "Variant", "autoWidth": true },



            ]
        });
         $('#tbl_Series_paginate').parent('div').parent('div').css('flex-direction', 'row-reverse').css('margin', '12px');



    };

     function getBodyList(MakeID) {

        let cntRow = 0;
         BodyType_table = $("#tbl_BodyType").DataTable({
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "scrollX": true,
            "scrollY": true,
            "destroy": true,
             "pageLength": 5,
            "order": [],
            "dom":
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'p><'col-sm-12 col-md-7'i>>",
            "ajax": {
                "url": '@Url.Action("GetBodyTypeList", "Vehicle")',
                "type": "POST",
                "datatype": "json",
                "data": { "MakeID": MakeID },
                "beforeSend": function () {
                    $('#loadingScreen').show();
                    cntRow = 0;
                },
                "complete": function (row, data, dataIndex) {

                    $('#loadingScreen').hide();
                }
            },
            "createdRow": function (row, data, dataIndex) {

            },
            "columns": [
                {
                    "className": "BodyTypeID", "data": null, "name": "BodyTypeID",
                    render: function (data, type, row) {
                        return `<center>
                                  <div class="">
                                         <span type="button" data-toggle="modal" data-target="#modal-companyInfo" class="editCompany" onclick="EditBodyType(`+ data.BodyTypeID + `)" MakesID="` + data.BodyTypeID +`">
                                            <i class="fa fa-minus-circle fa-lg text-danger" style="padding: 0px"></i>
                                        </span>
                                    </div>
                                 </div>
                              </center>`
                    }, "autoWidth": true
                },
                { "className": "BodyTypeName", "data": "BodyTypeName", "name": "BodyTypeName", "autoWidth": true },
                { "className": "BodyTypeAbbreviation", "data": "BodyTypeAbbreviation", "name": "BodyTypeAbbreviation", "autoWidth": true },



            ]
        });
         $('#tbl_BodyType_paginate').parent('div').parent('div').css('flex-direction', 'row-reverse').css('margin', '12px');



    };

     function getColorList(MakeID) {

        let cntRow = 0;
         Color_table = $("#tbl_Color").DataTable({
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "scrollX": true,
            "scrollY": true,
            "destroy": true,
             "pageLength": 5,
            "order": [],
            "dom":
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'p><'col-sm-12 col-md-7'i>>",
            "ajax": {
                "url": '@Url.Action("GetColorList", "Vehicle")',
                "type": "POST",
                "datatype": "json",
                "data": { "MakeID": MakeID },
                "beforeSend": function () {
                    $('#loadingScreen').show();
                    cntRow = 0;
                },
                "complete": function (row, data, dataIndex) {

                    $('#loadingScreen').hide();
                }
            },
            "createdRow": function (row, data, dataIndex) {

            },
            "columns": [
                {
                    "className": "ColorID", "data": null, "name": "ColorID",
                    render: function (data, type, row) {
                        return `<center>
                                  <div class="">
                                         <span type="button" data-toggle="modal" data-target="#modal-companyInfo" class="editCompany" onclick="EditColor(`+ data.ColorID + `)" MakesID="` + data.ColorID +`">
                                            <i class="fa fa-minus-circle fa-lg text-danger" style="padding: 0px"></i>
                                        </span>
                                    </div>
                                 </div>
                              </center>`
                    }, "autoWidth": false
                },
                { "className": "ColorName", "data": "ColorName", "name": "ColorName", "autoWidth": true },



            ]
        });
         $('#tbl_Color_paginate').parent('div').parent('div').css('flex-direction', 'row-reverse').css('margin', '12px');



    };
</script>


