@using ECOCSystem.Model
@model UserModel
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="card">


        <div class="card-header">
            <h3 class="card-title">User List</h3>
        </div>
        <div class="fab" type="button" data-toggle="modal" data-target="#modal-lg" name="btnSubmit" title="" @*onclick="location.href='/Customer/Customer'"*@ data-original-title="Create New"> + </div>
        <div class="card-body">
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                    <div class="col-sm-12">
                        <table id="example2" class="table table-head-fixed table-hover dataTable dtr-inline " style="cursor:pointer" aria-describedby="example2_info" t>
                            <thead>
                                @*<tr>
                                    <th class="sorting sorting_desc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" aria-sort="descending">Rendering engine</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Browser</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Platform(s)</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Engine version</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">CSS grade</th>
                                    </tr>*@
                                <tr>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">First name</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Last  name</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Email</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">User Type</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Company</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Branch</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*<tr class="odd">
                                        <td class="sorting_1 dtr-control">Gecko</td>
                                        <td>Mozilla 1.5</td>
                                        <td class="">Win 95+ / OSX.1+</td>
                                        <td>1.5</td>
                                        <td>A</td>
                                    </tr>*@
                               @for (int i = 0; i < Model.UserList.Count(); i++)
                                {
                                <tr>
                                    <td style="width: 14.28%;">
                                        @Html.DisplayFor(o => Model.UserList[i].FirstName)
                                    </td>
                                    <td style="width: 14.28%;">
                                        @Html.DisplayFor(o => Model.UserList[i].LastName)
                                    </td>
                                    <td style="width: 14.28%;">
                                        @Html.DisplayFor(o => Model.UserList[i].Email)
                                    </td>

                                    <td style="width: 14.28%;">
                                        @Html.DisplayFor(o => Model.UserList[i].UserType)
                                    </td>
                                    <td style="width: 14.28%;">
                                        @Html.DisplayFor(o => Model.UserList[i].Company)
                                    </td>
                                    <td style="width: 14.28%;">
                                        @Html.DisplayFor(o => Model.UserList[i].CompanyBranch)
                                    </td>

                                </tr>
                                }

                            </tbody>
                            @*<tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1">First name</th>
                                        <th rowspan="1" colspan="1">Last name</th>
                                        <th rowspan="1" colspan="1">Email</th>
                                    </tr>
                                </tfoot>*@
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
 


    <div class="modal fade" id="modal-lg" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">User Information</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
               @using (Html.BeginForm("User", "User", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "MV_Form" }))
               {

                    <div class="modal-body @*overlay*@">                 
                            <section class="row mt-4 pb-4">
                                @*<i class="fas fa-2x fa-sync fa-spin"></i>*@
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(o => o.FirstName)
                                    <div class="input-group">@Html.TextBoxFor(o => o.FirstName, new { @class = "form-control input-style", placeholder = "First Name" })</div>
                                    @Html.ValidationMessageFor(o => o.FirstName)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(o => o.LastName)
                                    <div class="input-group">@Html.TextBoxFor(o => o.LastName, new { @class = "form-control input-style", placeholder = "Last name" })</div>
                                    @Html.ValidationMessageFor(o => o.LastName)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(o => o.MiddleName)
                                    <div class="input-group">@Html.TextBoxFor(o => o.MiddleName, new { @class = "form-control input-style", placeholder = "Middle Name" })</div>
                                    @Html.ValidationMessageFor(o => o.MiddleName)
                                </div>
                            </section>
                            <section class="row pb-4">
                                @*<i class="fas fa-2x fa-sync fa-spin"></i>*@
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(o => o.Email)
                                    <div class="input-group">@Html.TextBoxFor(o => o.Email, new { @class = "form-control input-style", placeholder = "Email Address" })</div>
                                    @Html.ValidationMessageFor(o => o.Email)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(o => o.Password)
                                    <div class="input-group">@Html.TextBoxFor(o => o.Password, new { @class = "form-control input-style Password", type="Password" ,placeholder = "Password" })</div>
                                    @Html.ValidationMessageFor(o => o.Password)
                                </div>
                            </section>
                            <section class="row pb-4">
                                <div class="form-group col-lg-4 col-sm-4">
                                    @Html.LabelFor(m => m.SelectedUserTypeID)
                                    <div class="input-group">
                                        @Html.DropDownListFor(m => m.SelectedUserTypeID, new SelectList(Model.UserTypes, "ID", "Info"), " Select User Type  ", new { @class = "form-control select2 select2Ajax", select2Ajax_url = Url.Action("GetUserTypes", "GetData") })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.SelectedUserTypeID, "", new { @class = "" })
                                </div>
                                <div class="form-group col-lg-4 col-sm-4">
                                    @Html.LabelFor(m => m.SelectedCompanyID)
                                    <div class="input-group">
                                        @Html.DropDownListFor(m => m.SelectedCompanyID, new SelectList(Model.UserTypes, "ID", "Info"), " Select Company  ", new { @class = "form-control select2 select2Ajax", select2Ajax_url = Url.Action("GetCompanyList", "GetData") })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.SelectedCompanyID, "", new { @class = "" })
                                </div>
                                <div class="form-group col-lg-4 col-sm-4">
                                    @Html.LabelFor(m => m.SelectedCompanyBranchID)
                                    <div class="input-group">
                                        @Html.DropDownListFor(m => m.SelectedCompanyBranchID, new SelectList(Model.UserTypes, "ID", "Info"), " Select Branch  ", new { @class = "form-control select2 select2Ajax", select2Ajax_url = Url.Action("GetCompanyBranchList", "GetData") })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.SelectedCompanyBranchID, "", new { @class = "" })
                                </div>
                            </section>
                    </div>
                <div class="modal-footer justify-content-between submit-btn">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" name="submit" value="ADDUSER" class="btn btn-success">Save </button>
                </div>
               }
            </div>

        </div>

    </div>
</section>

<script>
    //jQuery(document).ready(function () {
    //    var vehicle_table = jQuery("#example2").DataTable({
    //        display: "row-border"
    //    });
    //});
</script>


